@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsional: Style scrollbar agar lebih cantik */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F9FAFB; /* Sesuai warna background di config */
}